{erl_opts, [debug_info]}.

{deps, [
	{cowboy, {git, "https://github.com/ninenines/cowboy", {tag, "2.0.0-rc.2"}}},
	{erlpass, "1.0.4"},
	{jsx, "2.8.2"}
]}.

{plugins, [rebar3_hex, rebar3_run]}.

{relx, [{release, { local, "0.1.0" },
         [electrolink_cloud]},

        {dev_mode, true},
        {include_erts, false},

        {extended_start_script, true}]
}.

{profiles, [{prod, [{relx, [{dev_mode, false},
                            {include_erts, true}]}]
            }]
}.

